<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-uppercase">
      Course Content
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="heading">
    <div class="img">
      <img src="/assets/images/PDF icon.png">
    </div>
    <ion-text>
      <h1>Videos</h1>
      <p class="ion-no-margin">Course:
        <br />
        Bricklaying and Plastering
      </p>
    </ion-text>
  </div>
  <div class="container">
    <h5 class="ion-padding-top ion-margin-start">Trending on Deepeg</h5>
    <div class="empty"></div>
    <div *ngFor="let i of [1,2,3,4,5]">
      <video width="100%" controls controlsList="nodownload">
        <source src="/assets/videos/VID-20200125-WA0000.mp4" type="video/mp4">
        Video is not supported.
      </video>
      <h6>Hello World</h6>
      <div class="empty"></div>
    </div>
  </div>
</ion-content>

<ion-footer class="ion-padding">
  <div class="btn-group">
    <ion-grid class="ion-no-padding">
      <ion-row class="ion-text-center">
        <ion-col routerLink="/documents">PDF</ion-col>
        <ion-col class="center" routerLink="/news">News</ion-col>
        <ion-col class="active">Video</ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-footer>