<ion-content>
  <div class="container">
    <form [formGroup]="user" (submit)="resetPassword()">
      <div class="img ion-margin">
        <img src=".\assets\images\cropped-Deepeg-95x95.png">
      </div>
      <h5>Enter your email address to reset your password</h5>
      <ion-list>
        <ion-item>
          <ion-label>Email:</ion-label>
          <ion-input type="email" formControlName="email" required></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.email">
            <div class="error-message" *ngIf="user.get('email').hasError(validation.type) && user.get('email').touched">
              <p class="error">{{ validation.message }}</p>
            </div>
          </ng-container>
        </div>
      </ion-list>
      <div class="ion-text-center ion-margin">
        <ion-spinner *ngIf="spinner"></ion-spinner>
        <button color="tertiary" *ngIf="!spinner" type="submit">
          <ion-text class="ion-text-center ion-padding-horizontal">Reset Password</ion-text>
        </button>
        <br />
        <button color="tertiary" routerLink="/signin" type="button" size="small" class="btn2 ion-margin-top">
          <ion-text class="ion-text-center ion-text-capitalize">back</ion-text>
        </button>
      </div>
    </form>
  </div>
</ion-content>