ion-content {
    ion-icon {
        padding    : 5px;
        font-weight: 100;
        font-size  : 30px;
    }

    .container {
        position : relative;
        top      : 50%;
        transform: translateY(-50%);

        button {
            border-radius   : 10px;
            background-color: #800020;
            color           : white;
            padding         : 7px 30px;
            text-align      : center;
        }

        .btn2 {
            font-size    : 13px;
            border-radius: 5px;
            padding      : 3px 20px;
        }
    }

    .img {
        text-align: center;

        img {
            width        : 50%;
            margin-bottom: 30px;
        }
    }
}

ion-footer {
    ion-grid {
        padding         : 0;
        background-color: #F6F6F6;

        #bottom-btn {
            text-align: center;

            #signIn {
                border-top  : 1px solid #800020;
                border-right: 1px solid #800020;
                color       : #800020;
            }

            #signUp {
                border-top: 1px solid #800020;
                color     : #800020;
            }
        }
    }
}

@media only screen and (min-width: 600px) {
    ion-content {
        .container {
            width: 50%;
        }
    }
}


button:focus {
    outline: none;
}

span:focus {
    outline: none;
}

.errors {
    color     : red;
    font-size : 13px;
    text-align: center;
}

.validation-errors {
    color    : red;
    font-size: 12px;
    height   : 30px;

    p {
        margin      : 0;
        padding     : 0;
        padding-left: 15px;
    }
}

h5 {
    font-size: 15px;
}