ion-content {
    // --background: #E3E3E3;

    .container {
        // background-color: #fff;

        ul {
            padding   : 0;
            list-style: none;

            li {
                padding-top: 10px;

                .circle {
                    display      : inline-block;
                    width        : 1.75rem;
                    height       : 1.75rem;
                    margin-right : .5rem;
                    line-height  : 1.7rem;
                    color        : #fff;
                    text-align   : center;
                    background   : rgb(153, 153, 153);
                    border-radius: 50%;
                }

                .label {
                    font-size: 20px;
                }

                ion-list {
                    margin-left: 20px;
                }

                .line {
                    height     : 30px;
                    border-left: 1px solid rgb(153, 153, 153);
                    margin-top : 10px;
                    margin-left: 1rem;
                }
            }
        }
    }
}


button:focus {
    outline: none;
}

.validation-errors {
    color    : red;
    font-size: 12px;

    p {
        margin      : 0;
        padding     : 0;
        padding-left: 15px;
    }
}