ion-header {
    ion-toolbar {
        ion-icon {
            font-size    : 30px;
            padding-right: 16px
        }
    }
}

ion-content {
    ion-text {
        h1 {
            margin-top   : 16px;
            font-size    : 25px;
            margin-bottom: 0;
        }

        p {
            margin-top: 12px;
        }
    }

    div.w-100 {
        ion-icon {
            font-size: 25px;
        }
    }
}