ion-header {
    ion-toolbar {
        ion-icon {
            font-size    : 25px;
            padding-right: 16px
        }
    }
}

ion-content {
    --background: #E3E3E3;

    .appliedCourse {
        background-color: #fff;
        padding         : 16px 10px;
        height          : 132px;
        position        : relative;

        img {
            width       : 150px;
            height      : 100px;
            float       : left;
            margin-right: 10px;
        }

        .img {
            width       : 150px;
            height      : 100px;
            float       : left;
            margin-right: 10px;
        }

        ion-text {
            p {
                font-size         : 12px;
                overflow          : hidden;
                text-overflow     : ellipsis;
                display           : -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
            }

            h1 {
                font-size         : 18px;
                margin            : 0;
                overflow          : hidden;
                text-overflow     : ellipsis;
                display           : -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
            }
        }

        ion-button {
            position: absolute;
            bottom  : 16px;
        }

        .button {
            position: absolute;
            bottom  : 10px;
        }
    }

    .container {
        padding: 0;

        h1 {
            font-size: 18px;
        }

        ion-grid {
            ion-row {
                ion-col {
                    padding: 5px;

                    ion-card {
                        background: #fff;

                        img {
                            width : 100%;
                            height: 100px;
                        }

                        ion-card-content {
                            padding: 5px 8px;

                            ion-text {
                                h1 {
                                    margin            : 0;
                                    font-size         : 15px;
                                    color             : #000;
                                    overflow          : hidden;
                                    text-overflow     : ellipsis;
                                    display           : -webkit-box;
                                    -webkit-box-orient: vertical;
                                    -webkit-line-clamp: 1;
                                }

                                p {
                                    margin: 0;

                                    .code {
                                        font-size: 10px;
                                    }

                                    .fa-star {
                                        font-size    : 10px;
                                        padding-right: 2px;
                                    }

                                    .checked {
                                        color: orange;
                                    }

                                    strong {
                                        color: #000;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        ion-button {
            background: #fff;
        }
    }
}