<ion-content>
  <div class="container">
    <div class="img ion-margin">
      <img src=".\assets\images\network connection.png">

    </div>
    <br />
    <h2 class="ion-text-center ion-margin-bottomn ion-no-padding-top">
      <ion-text color="tertiary">
        <strong>Opps...</strong>
      </ion-text>
    </h2>
    <h3 class="ion-text-center">
      <ion-text color="tertiary">
        Network Detection Error!
      </ion-text>
    </h3>
    <h5 class="ion-text-center">
      <ion-text color="tertiary">
        Please check your internet connection.
      </ion-text>
    </h5>
  </div>
</ion-content>