ion-content {
    --background: #E3E3E3;

    .container {
        background-color: #fff;

        p {
            ion-icon {
                padding  : 3px;
                font-size: 18px;
            }
        }
    }
}