<ion-content>
	<div class="intro" [ngStyle]="{'background-image': 'url(' + (course.coverUrl)  + ')'}">
		<button class="ion-margin" routerLink="/landing">
			<i class="fa fa-arrow-left" aria-hidden="true"></i>
		</button>
		<div class="container">
			<ion-text color="light">
				<ion-icon name="information-circle-outline" class="ion-float-right" style="font-size: 20px;"
					(click)="presentAlertConfirm()"></ion-icon>
				<h1>
					<strong>{{course.name}}</strong>
				</h1>
				<p>{{course.description}}</p>
				<div class="badges">
					<button class="bedge ion-text-capitalize">
						<span class="fa fa-star checked"></span>
						4.5
					</button>
					<button class="bedge ion-text-capitalize">
						<i class="fa fa-book" aria-hidden="true"></i>
						{{totalEnrolled}} Enrolled
					</button>
					<button class="bedge ion-text-capitalize">
						<i class="fa fa-clock-o" aria-hidden="true"></i>
						{{duration}} Months
					</button>
					<button class="bedge ion-text-capitalize">
						<i class="fa fa-tag" aria-hidden="true"></i>
						R {{course.fee}}
					</button>
					<button class="bedge ion-text-capitalize">
						<i class="fa fa-calendar" aria-hidden="true"></i>
						{{course.closingDate | date: "d MMM yyyy"}}
					</button>
				</div>
			</ion-text>
		</div>
	</div>
	<div class="video">
		<video controls height="300px" width="80%" controlsList="nodownload">
			<source [src]="course.coverVideoUrl" type="video/mp4">
			Video is not supported.
		</video>
	</div>
	<div class="container">
		<ion-grid>
			<ion-row class="ion-text-capitalize">
				<ion-col size="6">
					<ion-text>
						<h2>Fees Includes</h2>
						<ul>
							<li *ngFor="let f of course.feesInclude">{{f}}</li>
						</ul>
					</ion-text>
				</ion-col>
				<ion-col size="6">
					<ion-text>
						<h2>Requirements</h2>
						<ul>
							<li *ngFor="let r of course.requirement">{{r}}</li>
						</ul>
					</ion-text>
				</ion-col>
			</ion-row>
		</ion-grid>
		<ion-button class="ion-margin-bottom ion-text-capitalize" color="tertiary" expand="full"
			*ngIf="applyBtn && !pending" (click)="apply()">
			Apply Now
		</ion-button>

		<ion-button class="ion-margin-bottom ion-text-capitalize" color="tertiary" expand="full"
			*ngIf="!applyBtn && !pending" [disabled]="!applyBtn" (click)="apply()">
			Applications closed on {{course.closingDate | date: "d MMM yyyy"}}
		</ion-button>

		<ion-button class="ion-margin-bottom ion-text-capitalize" color="tertiary" expand="full" *ngIf="pending"
			[disabled]="!applyBtn" (click)="apply()">
			Status pending
		</ion-button>
	</div>
</ion-content>