.socialIcons {
	position: absolute;
	bottom  : 10px;
	width   : 100%;

	.fa {
		padding        : 10px;
		font-size      : 20px;
		text-align     : center;
		text-decoration: none;
		margin         : 5px;
		border-radius  : 50%;
		background     : white;
	}

	.fa:hover {
		opacity: 0.7;
	}

	.fa-facebook {
		color: #3B5998;
	}

	.fa-twitter {
		color: #55ACEE;
	}

	.fa-instagram {
		color: #125688;
	}
}

span.notification {
	color           : #800020;
	background-color: #fff;
	width           : 25px;
	height          : 25px;
	font-weight     : 600;
	border-radius   : 50%;

	p {
		text-align : center;
		font-size  : 17px;
		padding    : 0;
		padding-top: 3.5px;
		margin     : 0;
	}
}