ion-content {
    .container {
        ion-grid {
            ion-row {
                ion-col {
                    p {
                        margin: 0;
                    }

                    .upload {
                        margin          : 10px 0;
                        height          : 25vh;
                        border          : 1px solid #c2c2c2;
                        background-color: #f7f7f7;
                        text-align      : center;

                        ion-icon {
                            font-size  : 40px;
                            padding-top: 10vh;
                        }
                    }
                }
            }
        }
    }
}