ion-content {
    --background: #E3E3E3;

    .heading {
        background-color: #800020;
        padding         : 16px 10px;
        height          : 132px;
        position        : relative;
        color           : #fff;

        .img {
            width       : 100px;
            height      : 100px;
            float       : left;
            margin-right: 20px;

            img {
                width : 100px;
                height: 100px;
            }
        }

        p {
            font-size  : 15px;
            font-weight: 100;
        }

        h1 {
            margin     : 8px 0 5px 0;
            font-size  : 25px;
            font-weight: 100;
        }
    }

    .container {
        padding         : 0;
        background-color: #fff;

        .empty {
            border-bottom: #333333 1px solid;
            box-shadow   : 0 2px #9e9e9e7e;
            width        : 100%;
        }

        ion-list {
            ion-item {
                margin-top: 10px;

                h1 {
                    margin-right: 20px;
                    font-size   : 20px;
                }

                ion-text {
                    margin-top: 8px;
                    font-size : 13px;
                    color     : #707070;

                    h5 {
                        font-size         : 17px;
                        color             : #000;
                        margin-bottom     : 5px;
                        overflow          : hidden;
                        text-overflow     : ellipsis;
                        display           : -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                    }
                }
            }
        }
    }
}

ion-footer {
    background-color: #f6f6f6;
    padding-top     : 0;

    .btn-group {
        width        : 100%;
        border       : solid 1px #800020;
        border-radius: 10px;
        color        : #800020;

        .center {
            border-right: solid 1px #800020;
        }

        .active {
            background-color         : #800020;
            color                    : #f6f6f6;
            border-top-left-radius   : 8px;
            border-bottom-left-radius: 8px;
        }

        .btn:focus {
            outline: none;
        }
    }
}

.footer-md:before {
    height: 0;
}