<ion-header>
	<ion-toolbar color="tertiary">
		<ion-menu-button slot="start"></ion-menu-button>
		<ion-title class="ion-text-uppercase">My Courses</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content>
	<div class="container">
		<div *ngIf="!loader">
			<h1 class="ion-margin-top">Courses</h1>
			<div *ngIf="isAcceptedCourse">
				<h5>Status: Pending Registration</h5>
				<div class="appliedCourse" id="top" *ngFor="let c of acceptedCourse">
					<img [src]="c.coverUrl">
					<ion-text>
						<h1>{{c.name}}</h1>
						<p class="ion-no-margin" style="margin: 0;">{{c.code}}</p>
						<p>
							<ion-button size="small" color="tertiary" style="font-size: 10px;" (click)="register(c)">
								Register
							</ion-button>
							<span class="fa fa-star" [ngClass]="(c.rating >  0) ? 'checked': ''"></span>
							<span class="fa fa-star" [ngClass]="(c.rating >  1) ? 'checked': ''"></span>
							<span class="fa fa-star" [ngClass]="(c.rating >  2) ? 'checked': ''"></span>
							<span class="fa fa-star" [ngClass]="(c.rating >  3) ? 'checked': ''"></span>
							<span class="fa fa-star" [ngClass]="(c.rating >  4) ? 'checked': ''"></span>
						</p>
					</ion-text>
				</div>
			</div>
			<div *ngIf="isRegisteredcourse">
				<span *ngIf="isRegisteredcourse ? unAccept(): ''"></span>
				<h5>Status: Registered</h5>
				<div class="appliedCourse" id="top" *ngFor="let c of registeredcourse">
					<img [src]="c.coverUrl">
					<ion-text>
						<h1>{{c.name}}</h1>
						<p class="ion-no-margin" style="margin: 0;">{{c.code}}</p>
						<p>
							{{c.description}}
						</p>
						<ion-icon name="alert-circle-outline" class="ion-float-right" (click)="info(c)"></ion-icon>
						<p>
							<span class="fa fa-star" [ngClass]="(c.rating >  0) ? 'checked': ''"></span>
							<span class="fa fa-star" [ngClass]="(c.rating >  1) ? 'checked': ''"></span>
							<span class="fa fa-star" [ngClass]="(c.rating >  2) ? 'checked': ''"></span>
							<span class="fa fa-star" [ngClass]="(c.rating >  3) ? 'checked': ''"></span>
							<span class="fa fa-star" [ngClass]="(c.rating >  4) ? 'checked': ''"></span>
						</p>
					</ion-text>
				</div>
			</div>
			<div *ngIf="isUnacceptedCourse">
				<h5>Status: Pending</h5>
				<div class="appliedCourse" id="top" *ngFor="let c of unacceptedCourse">
					<img [src]="c.coverUrl">
					<ion-text>
						<h1>{{c.name}}</h1>
						<p class="ion-no-margin" style="margin: 0;">{{c.code}}</p>
						<p>
							{{c.description}}
						</p>
						<p>
							<span class="fa fa-star" [ngClass]="(c.rating >  0) ? 'checked': ''"></span>
							<span class="fa fa-star" [ngClass]="(c.rating >  1) ? 'checked': ''"></span>
							<span class="fa fa-star" [ngClass]="(c.rating >  2) ? 'checked': ''"></span>
							<span class="fa fa-star" [ngClass]="(c.rating >  3) ? 'checked': ''"></span>
							<span class="fa fa-star" [ngClass]="(c.rating >  4) ? 'checked': ''"></span>
						</p>
					</ion-text>
				</div>
			</div>
			<div *ngIf="isCompletedCourse">
				<h5>Status: Completed</h5>
				<div class="appliedCourse" id="top" *ngFor="let c of completedCourse">
					<img [src]="c.coverUrl">
					<ion-text>
						<h1>{{c.name}}</h1>
						<p class="ion-no-margin" style="margin: 0;">{{c.code}}</p>
						<p>
							{{c.description}}
						</p>
						<p>
							<span class="fa fa-star" [ngClass]="(c.rating >  0) ? 'checked': ''"></span>
							<span class="fa fa-star" [ngClass]="(c.rating >  1) ? 'checked': ''"></span>
							<span class="fa fa-star" [ngClass]="(c.rating >  2) ? 'checked': ''"></span>
							<span class="fa fa-star" [ngClass]="(c.rating >  3) ? 'checked': ''"></span>
							<span class="fa fa-star" [ngClass]="(c.rating >  4) ? 'checked': ''"></span>
						</p>
					</ion-text>
				</div>
			</div>
		</div>
		<div *ngIf="loader">
			<ion-skeleton-text class="button ion-margin-bottom ion-margin-top" style="width: 100px; height: 25px;"
				animated>
			</ion-skeleton-text>
			<div class="appliedCourse" *ngFor="let i of [1,2,3,4,5,6,7,8,9,0]">
				<ion-skeleton-text class="img" style="width: 150px; height: 100px;" animated></ion-skeleton-text>
				<ion-text>
					<p class="ion-no-margin">
						<ion-skeleton-text style="width: 50%; height: 12px;" animated></ion-skeleton-text>
					</p>
					<h1>
						<ion-skeleton-text style="width: 80%; height: 18px;" animated></ion-skeleton-text>
					</h1>
					<h1>
						<ion-skeleton-text style="width: 60%; height: 18px;" animated></ion-skeleton-text>
					</h1>
					<p>
						<ion-skeleton-text class="button" style="width: 100px; height: 25px;" animated>
						</ion-skeleton-text>
					</p>
				</ion-text>
			</div>
		</div>
	</div>
</ion-content>