<ion-header>
	<ion-toolbar color="tertiary">
		<ion-menu-button slot="start"></ion-menu-button>
		<ion-title class="ion-text-uppercase">Notifications</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content>
	<ion-list lines="none">
		<div *ngFor="let n of notification" class="big">
			<div *ngIf="!n.delete">
				<ion-item [ngClass]="n.color ? 'itemColor' : ''" (click)="readNotification(n)">
					<ion-avatar slot="start" class="Randomcolor"
						[ngStyle]="{'background-color': colors(n.title.slice(0, 1))}">
						{{n.title| slice:0:1}}
					</ion-avatar>
					<ion-label>
						<span class="font">
							<span class="name">
								{{n.title}}
							</span>
							<span class="ion-float-right dateBig">
								{{n.date == date ? '' : n.date  | date: "d MMM"}} {{n.time}}
							</span>
						</span>
						<span class="font">
							{{n.subTitle}}
						</span>
						<span class="hide "> &nbsp; - &nbsp; </span>
						<span class="p">
							{{n.message}}
						</span>
					</ion-label>
				</ion-item>
				<hr class="m-0">
			</div>
		</div>
		<div class="small" *ngFor="let n of notification">
			<div *ngIf="!n.delete">
				<ion-item [ngClass]="n.color ? 'itemColor' : ''" (click)="readNotification(n)">
					<ion-avatar slot="start" class="Randomcolor"
						[ngStyle]="{'background-color': colors(n.title.slice(0, 1))}">
						{{n.title| slice:0:1}}
					</ion-avatar>
					<ion-label>
						<h2 class="font">
							{{n.title}}
							<span class="ion-float-right dateSmall">
								{{n.date == date ? '' : n.date  | date: "d MMM"}} {{n.time}}
							</span>
						</h2>
						<h3 class="font">
							{{n.subTitle}}
						</h3>
						<p>
							{{n.message}}
						</p>
					</ion-label>
				</ion-item>
				<hr class="m-0">
			</div>
		</div>
	</ion-list>
</ion-content>